TEAMS_EMAIL=your-teams-email@example.com
TEAMS_PASSWORD=your-password

# Status: /busy | /available | /away | /berightback | /donotdisturb | /offline
TEAMS_STATUS=/busy
# Update status every N minutes
UPDATE_EVERY_MIN=5
# Keep running for N hours
FOR_HOURS=8
